**Soru 0**

3 tane string degisken olusturun ve bunlari camel case olarak isimlendirin.

In [ ]:
ageString = 'yas'
camelStr = 'abc'

**Soru1**

3 tane Snake Case isme sahip integer veya float deger olusturun.

In [ ]:
aylin_yas = 22
ayse_boy =173.5

**Soru2**

input fonksiyonu ile kullanicidan ismini ve yasini girmesini isteyin ve kullanıcı ismini print ettirin.

In [5]:
print("Adınızı girin")
name = input()
print("Yaş Bilgisini Giriniz")
age = int(input())

print("Girdiginiz isim:", name)

Adınızı girin
Ayşe
Yaş Bilgisini Giriniz
22
Girdiginiz isim: Ayşe

In [3]:
print("Yaş Bilgisini Giriniz")

age = int(input())
#print("Kullanıcının yaşı:", age)

Yaş Bilgisini Giriniz
32

**Soru 3**

Kullanicidan 2 tane sayi degeri alin, buyuk olan sayiyi yazdirin. Eger her 2 sayi da birbirine esit ise 2 sayinin esitlik yazin.

In [2]:
num1 = int(input("İlk sayıyı giriniz "))
num2 = int(input("İkinci sayıyı giriniz "))

if num1 >= num2:
  if num1 == num2:
    print(num1, 've', num2, 'eşittir')
  else:
    print('{} degeri {} degerinden büyüktür'. format(num1, num2))
else:
  print('{} değeri {} değerinden kücüktür.'. format(num1,num2))

İlk sayıyı giriniz 3
İkinci sayıyı giriniz 5
3 değeri 5 değerinden kücüktür.

**Soru4**

Verilen tam sayı 'n' için aşağıdaki koşulları gerçekleştiriniz:

n tek ise, ekrana 'Weird' yazsın
n çift ve 2 ile 7 arasında (2 ve 7 dahil) ise, ekrana 'Not Weird' yazsın
n çift ve 8 ile 20 arasında (8 ve 20 dahil) ise, ekrana 'Weird' yazsın
n çift ve 20'den büyük ise, ekrana 'Not Weird' yazsın.

In [1]:
n = int(input())
if n%2 == 0 & 2<=n<=7:
    print("not weird")
elif n%2 !=0:
    print("weird")
elif n%2 == 0 & 8<=n<=20:
    print("weird")
elif (n%2 == 0) & (n>20):
    print("not weird")

4
not weird

**Soru 5**

Artık yıllar 4 rakamının katı olan yıllardır fakat bu kuralın bir ististası vardır.

100'ün katı olan yıllardan sadece 400'e kalansız olarak bölünebilenler artık yıldır.
Örneğin 1200 ve 2000 yılları artık yıllardır fakat 1800, 1300, 1900 ve 1500 artık yıl değildir.
Bilgi: 4000'den sonraki yıllar için yeni bir istisna devreye giriyor fakat bu soru için onu göze almamıza gerek yoktur.

Yukarıdaki tanıma göre artık yılı hesaplayan kod bloğunu yazınız.**kalın metin**

In [ ]:
year = int(input('yil giriniz...'))

leap = False

if year % 4 == 0 and year % 100 != 0:
  leap = True
elif year % 100 == 0 and year % 400 != 0:
  leap = False
elif year % 400 == 0:
  leap = True
  
print(leap)


n = int(input())
print(n % 4 == 0 and (n % 100 != 0 or n % 400 == 0))

**Soru 6**


Kullanicidan 2 basamakli bir sayi girmesini isteyin,

Ilk olarak girilen sayi 50'den buyuk mu kontrol edin, 50'den buyuk ise girilen sayi 1'ler basamagindaki sayinin karesinden buyuk mu diye kontrol edin. Buyukse A, kucukse B yazdirin. 50'den kucuk ise girilen sayi 1'ler basamaginin 10 katindan kucuk mu diye kontrol edin! Buyukse C, kucukse D yazdirin.

In [9]:
givenInteger = int(input('Sayi giriniz...'))

bb = givenInteger % 10

if givenInteger > 50:
  if givenInteger > bb**2:
    print('A')
  else:
    print('B')
else:
  if givenInteger < bb * 10:
    print('D')
  else:
    print('C')

Sayi giriniz...2022
A

**Soru 7**

Ic ice donguler kullanarak 0-10 arasi sayilarla carpim tablosu gosterimini olusuturun.
2 x 5 = 10
1 x 8 = 8 gibi.

In [ ]:

for i in range(0,11):
    print("------------ ")
    for j in range(0,11):
        print("{} x {} = {}".format(j,i,i*j))

------------
0 x 0 = 0
1 x 0 = 0
2 x 0 = 0
3 x 0 = 0
4 x 0 = 0
5 x 0 = 0
6 x 0 = 0
7 x 0 = 0
8 x 0 = 0
9 x 0 = 0
10 x 0 = 0
------------
0 x 1 = 0
1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
------------
0 x 2 = 0
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
------------
0 x 3 = 0
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
------------
0 x 4 = 0
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
------------
0 x 5 = 0
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
------------
0 x 6 = 0
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
------------
0 x 7 = 0
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70
------------
0 x 8 = 0
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
------------
0 x 9 = 0
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90
------------
0 x 10 = 0
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

**Soru 8**

Kullanicidan 2 tane sayi girmesini isteyin. girilen 2 sayinin 0 - 200 arasindaki ortak katlarini print ettirin.

bir yontem olarak for i in range(a, b, c): gibi bir dongu ile de cozum sununuz.
(Soruya 2 farkli cozum sunmaniz bekleniyor.)

In [12]:
s1 = int(input("Birinci sayıyı girin:"))
s2 = int(input("İkinci sayıyı girin:"))

for i in range(0,200,s2):
  if(i % s1 == 0):
    print(i)

Birinci sayıyı girin:23
İkinci sayıyı girin:34
0

**Soru 9**

Scaklik Donusutrucu
Kullanicidan ilk olarak bir celcius sicaklik degeri girmesini isteyin. Girilen degerin hangi sicaklik turune donusturulecegini ayriyeten girmesini isteyin. Ve Gerekli donusumu yapan fonksiyonu tasarlayin.
Ipucu: C / 100 = (F - 32) / 180 = (K - 273.15) / 100 -

In [13]:
a = int(input("Sıcaklığı Celcius Olarak Giriniz"))
b = input("Sıcaklık Neye Dönüştürülsün? F/K")

if b == "F":
    print((a/100)*180+32)
elif b == "K":
    print(a + 273.15)
else:
    print("Fahrenheit (°F) veya Kelvin (°K) için seçim yapınız")

Sıcaklığı Celcius Olarak Giriniz34
Sıcaklık Neye Dönüştürülsün? F/KF
93.2

**Soru 10**

BMI Hesaplanmasi ve sonucun zayif, cok zayif..... olarak print ettirilmesi
Kullanicidan kilosu ve boyunu girmesini isteyin. Ve BMI' degerini hesaplayip bmi'degerinin dahil oldugu araliga gore kisinin kilo durumunu print ettirin. Ipucu: (kilo) / (boy ^ 2) 100 / (1.75^2) gibi
0 - 18,4: Zayıf
18.5 - 24.9 Normal
25,0 - 29,9: Fazla Kilolu
30,0 - 34,9: Şişman (Obez) - I. Sınıf
35,0 - 44,9: Şişman (Obez) - II. Sınıf
45,0 ve üstü: Aşırı Şişman (Aşırı Obez) - III. Sınıf

In [14]:
weight = float(input('kilonuzu giriniz...'))
height = float(input('boyunuzu giriniz'))

bmi = weight / (height**2)

if 0 < bmi < 18.5:
  print('Zayif')
elif 18.5 <= bmi < 25:
  print('Normal')
elif 25 <= bmi < 30:
  print('Fazla kilolu')
elif 30 <= bmi < 35:
  print('Obez 1.Sinif')
elif 35 <= bmi < 45:
  print('Obez 2.Sinif')
elif 45 < bmi:
  print('Obez 3.Sinif')

print(bmi)

kilonuzu giriniz...50
boyunuzu giriniz160
Zayif
0.001953125

**Soru 11**

Kullanicidan maasini ve cocuk sayisini girmesini isteyin. Bu kisinin alacagi prim miktari = Maasinin %1'i x 3.8 x Cocuk sayisidir.

Kisilerin alacagi prim miktarini hesaplayiniz.

In [15]:
maas = float(input("Lütfen maaşınızı girin: "))
cocuk = int(input("Lütfen çocuk sayınızı giriniz: "))

prim = (((maas)/100)*3.8*cocuk)
print(prim)

Lütfen maaşınızı girin: 30000
Lütfen çocuk sayınızı giriniz: 0
0.0